# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
pd.set_option('display.max_columns',None)
from scipy.stats import ttest_1samp, ttest_ind,ttest_rel

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [8]:
# Your code here:
legend_ornot = pd.DataFrame(pokemon['Legendary'].value_counts())
legend_ornot

       Legendary
False        735
True          65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [34]:
le_stats = pd.DataFrame(pokemon[pokemon['Legendary']==True]['Total'].describe()).transpose()
non_le_stats = pd.DataFrame(pokemon[pokemon['Legendary']==False]['Total'].describe()).transpose()
le_mean = le_stats['mean'].values[0]
le_std = le_stats['std'].values[0]
non_le_mean = non_le_stats['mean'].values[0]
non_le_std = non_le_stats['std'].values[0]

In [35]:
# Your code here:
le_stats = pd.DataFrame(pokemon[pokemon['Legendary']==True]['Total'].describe())#.transpose()
non_le_stats = pd.DataFrame(pokemon[pokemon['Legendary']==False]['Total'].describe())#.transpose()
# le_mean = le_stats['mean']
# le_std = le_stats['std']
# non_le_mean = non_le_stats['mean']
# non_le_std = non_le_stats['std']
le_stats

            Total
count   65.000000
mean   637.384615
std     60.937389
min    580.000000
25%    580.000000
50%    600.000000
75%    680.000000
max    780.000000

In [31]:
non_le_stats

            Total
count  735.000000
mean   417.213605
std    106.760417
min    180.000000
25%    324.000000
50%    425.000000
75%    498.000000
max    700.000000

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [33]:
# Your code here:
d_lenornot_mean = le_mean - non_le_mean 
le_s = ttest_ind(le_stats, non_le_stats, equal_var = False)
print('P-value is: %f.' % le_s[1])

P-value is: 0.561996.

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
'''
P-value greater than 0.1, non-legendary and legendary pokemons are significantly different.
'''

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [41]:
# type2 = pd.DataFrame(pokemon['Type 2'].value_counts()).reset_index().rename(columns={'index':'Type Name','Type 2':'Count'})
# type2

In [83]:
# Your code here:
type1 = pd.DataFrame(pokemon['Type 1'].value_counts()).reset_index().rename(columns={'index':'Type Name','Type 1':'Count'})
type1

   Type Name  Count
0      Water    112
1     Normal     98
2      Grass     70
3        Bug     69
4    Psychic     57
5       Fire     52
6   Electric     44
7       Rock     44
8     Dragon     32
9      Ghost     32
10    Ground     32
11      Dark     31
12    Poison     28
13  Fighting     27
14     Steel     27
15       Ice     24
16     Fairy     17
17    Flying      4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [93]:
# Your code here:
water_stats = pd.DataFrame(pokemon[pokemon['Type 1']=='Water']['Total'].describe()).transpose()
water_mean = water_stats['mean'].values[0]
water_std = water_stats['std'].values[0]
non_water_stats = pd.DataFrame(pokemon[pokemon['Type 1']!='Water']['Total'].describe()).transpose()
non_water_mean = non_water_stats['mean'].values[0]
non_water_std = non_water_stats['std'].values[0]
water_ornot = pd.DataFrame(data=[[water_mean,non_water_mean],[water_std,non_water_std]],index=['Mean','Std'],columns=['Water','Non-Water'])
water_ornot

           Water   Non-Water
Mean  430.455357  435.859012
Std   113.188266  121.091682

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [96]:
water_test1 = ttest_ind(water_stats.transpose(),non_water_stats.transpose())
water_pval1 = water_test1[1]
print('P-value is: %f.' % water_pval1)
if water_pval1 < .05:
    print('95% confident that samples are significantly different.')
elif .05 <= water_pval1 < .1:
    print('Not confident that samples are significantly different.')
else:
    print('Samples are not significantly different.')

P-value is: 0.525819.
Samples are not significantly different.

In [98]:
# Your code here:
water_test2 = ttest_ind(water_ornot['Water'],water_ornot['Non-Water'])
water_pval2 = water_test2[1]
print('P-value is: %f.' % water_pval2)
if water_pval2 < .05:
    print('95% confident that samples are significantly different.')
elif .05 <= water_pval2 < .1:
    print('Not confident that samples are significantly different.')
else:
    print('Samples are not significantly different.')

P-value is: 0.978950.
Samples are not significantly different.

Write your conclusion below.

In [10]:
# Your conclusions here:

'''
Water pokemons are not significantly different from other types 1 pokemons. '''

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [101]:
# Your code here:

atk_def = ttest_rel(pokemon['Attack'], pokemon['Defense'])
pval_atk_def = atk_def[1]
print('P-value is: %f.' % pval_atk_def)
if pval_atk_def < .05:
    print('95% confident that samples are significantly different.')
elif .05 <= pval_atk_def <= .1:
    print('Not confident that samples are significantly different.')
else:
    print('Samples are not significantly different.')

P-value is: 0.000017.
95% confident that samples are significantly different.

Describe the results of the test in the cell below.

In [102]:
pokemon['Attack'].describe()

count    800.000000
mean      79.001250
std       32.457366
min        5.000000
25%       55.000000
50%       75.000000
75%      100.000000
max      190.000000
Name: Attack, dtype: float64

In [103]:
pokemon['Defense'].describe()

count    800.000000
mean      73.842500
std       31.183501
min        5.000000
25%       50.000000
50%       70.000000
75%       90.000000
max      230.000000
Name: Defense, dtype: float64

In [12]:
# Your conclusions here:

'''
Attacks and Defense of pokemons are significantly different from each other.
'''

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [107]:
# Your code here:
sp_atk_def = ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])
pval_sp_atk_def = sp_atk_def[1]
print('P-value is: %f.' % pval_sp_atk_def)
if pval_sp_atk_def < .05:
    print('95% confident that samples are significantly different.')
elif .05 <= pval_sp_atk_def <= .1:
    print('Not confident that samples are significantly different.')
else:
    print('Samples are not significantly different.')

P-value is: 0.393369.
Samples are not significantly different.

Describe the results of the test in the cell below.

In [106]:
# Your conclusions here:
'''
Super attackas and super defenses are not that different from each other.
Specs of attacks and defense vary more from each other than the specs of super attacks and super defense
'''

72.82

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [145]:
# Your code here:
test_atk_def_d = ttest_1samp(pokemon['Attack']-pokemon['Defense'],0)
test_sp_atk_def_d = ttest_1samp(pokemon['Sp. Atk']-pokemon['Sp. Def'],0)
pval_atk_def_d = {'Difference between specs of attakcs and defenses':test_atk_def_d[1]}
pval_sp_atk_def_d = {'Difference between specs of super attakcs and super defenses':test_sp_atk_def_d[1]}
print('P-value for %s is: %f.\nP-value for %s is: %f.' % (list(pval_atk_def_d.keys())[0],list(pval_atk_def_d.values())[0],list(pval_sp_atk_def_d.keys())[0],list(pval_sp_atk_def_d.values())[0]))
pvals = [pval_atk_def_d, pval_sp_atk_def_d]
for i in range(len(pvals)):
    if list(pvals[i].values())[0] < .05:
        print('According to %s, 95 percent confident that samples are significantly different.' % list(pvals[i].keys())[0])
    elif .05 <= list(pvals[i].values())[0] <= .1:
        print('According to %s, not confident that samples are significantly different.' % list(pvals[i].keys())[0])
    else:
        print('According to %s, samples are not significantly different.' % list(pvals[i].keys())[0])

P-value for Difference between specs of attakcs and defenses is: 0.000017.
P-value for Difference between specs of super attakcs and super defenses is: 0.393369.
According to Difference between specs of attakcs and defenses, 95 percent confident that samples are significantly different.
According to Difference between specs of super attakcs and super defenses, samples are not significantly different.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [173]:
# Your code here:
po_leornot = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water')#, colnames=['Water']).reset_index()#.rename(columns={'False':'Non-Water','True':'Water'})
# po_leornot.columns = ['Legendary','Non-Water','Water']
# po_leornot['Legendary']=['Non-Legendary','Legendary']
po_leornot

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [175]:
# Your code here:
from scipy.stats import chi2_contingency
chi2, p, dof, ex = chi2_contingency(po_leornot, correction=False)
p

0.0571762700873503

Based on a 95% confidence, should we reject the null hypothesis?

In [176]:
# Your answer here:
if p < .05:
    print('95% confident that samples are significantly different.')
elif .05 <= p <= .1:
    print('Not confident that samples are significantly different.')
else:
    print('Samples are not significantly different.')

Not confident that samples are significantly different.

In [ ]:
'''
Not confident that samples of lengendary or not and water type or not are significantly different.'''