Practice Exercises 
For practice questions 1 to 6, consider the following dataset:

In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot

In [2]:
# create db in SQL then create engine
engine = create_engine('mysql+pymysql://root:mshhgz999@localhost/sql2')
# cov_complete_data.to_sql('complete', con = engine, if_exists='replace', index=False)
# cov_province_null.to_sql('province_null', con = engine, if_exists='replace', index=False)
# cov_full.to_sql('full_data', con = engine, if_exists='replace', index=False)

In [21]:
# Fac_N = pd.Series(data=[13443,66234,45463,44556])
# Fac_First_M = pd.Series(data=['Iris','Aura','Lorelie','Mickey'])
# Fac_Last_M = pd.Series(data=['Martinez','Matias','Grepo','Mancenido'])
# Fac_Rank_C = pd.Series(data=['ASCP','PROF','ASTP','ASTP'])
# Faculty = pd.DataFrame(data=[Fac_N,Fac_First_M,Fac_Last_M,Fac_Rank_C]).transpose().rename(columns={0:'Fac_N',1:'Fac_First_M',2:'Fac_Last_M',3:'Fac_Rank_C'})
# Faculty.index.values

In [22]:
# Course_C = ['IDOE','IBDM','MSCM','SRES','SSIM']
# Course_M = ['Design of Experiments','Business Intelligence and Data Mining','Supply Chain Management','Research Medthods','Simulation']
# Course_Units = ['3','3','3','1','4']
# Course = pd.DataFrame(data=[Course_C,Course_M,Course_Units],index=['Course_C','Course_M','Course_Units']).transpose()
# Course

In [22]:
import pymysql.cursors  
c = pymysql.connect(user='root',
                             password='mshhgz999',
                             db = 'sql2',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

q0 = '''
CREATE TABLE Faculty (
Fac_N VARCHAR(5) PRIMARY KEY NOT NULL,
Fac_First_M VARCHAR(100) NOT NULL,
Fac_Last_M VARCHAR(100) NOT NULL,
Fac_Rank_C VARCHAR(4) NOT NULL);
'''
q01 = '''
DROP TABLE IF EXISTS Faculty
'''
q1 = '''
INSERT INTO Faculty 
(Fac_N,Fac_First_M,Fac_Last_M,Fac_Rank_C)
VALUES 
('13443','Iris','Martinez','ASCP'),
('66234','Aura','Matias','PROF'),
('45463','Lorelie','Grepo','ASTP'),
('44556','Mickey','Mancenido','ASTP');
'''
q2 ='''
CREATE TABLE Courses (
Course_C VARCHAR(4) PRIMARY KEY NOT NULL,
Course_M VARCHAR(100) NOT NULL,
Course_Units INT NOT NULL);
'''
q21 = '''
DROP TABLE IF EXISTS Courses
'''
q3 = '''
INSERT INTO Courses
(Course_C, Course_M, Course_Units)
VALUES
('IDOE','Design of Experiments',3),
('IBDM','Business Intelligence and Data Mining',3),
('MSCM','Supply Chain Management',3),
('SRES','Research Medthods',1),
('SSIM','Simulation',4);
'''
q4 = '''
CREATE TABLE Faculty_Courses (
Course_C VARCHAR(4) NOT NULL, 
Fac_N VARCHAR(5) NOT NULL,
Stud_Count INT NOT NULL,
Sem_C VARCHAR(6) NOT NULL,
FOREIGN KEY (Course_C) REFERENCES Courses (Course_C),
FOREIGN KEY (Fac_N) REFERENCES Faculty (Fac_N)
);'''
q41 = '''
DROP TABLE IF EXISTS Faculty_Courses
'''
q5 = '''
INSERT INTO Faculty_Courses
(Course_C,Fac_N,Stud_Count,Sem_C)
VALUES
('MSCM','13443',34,'2012-1'),
('MSCM','66234',32,'2012-2'),
('IDOE','44556',56,'2012-1'),
('SRES','13443',12,'2012-1'),
('IBDM','66234',40,'2012-2'),
('MSCM','44556',32,'2013-1');
'''
cursor = c.cursor()
cursor.execute(q01)
cursor.execute(q0)
cursor.execute(q1)
cursor.execute(q21)
cursor.execute(q2)
cursor.execute(q3)
cursor.execute(q41)
cursor.execute(q4)
cursor.execute(q5)

6

1.     Create a query to count the number of students that took Supply Chain 
Management. Name the column “Student_Count.”

In [23]:
q6 = '''
CREATE VIEW q1 AS
SELECT SUM(Stud_Count) AS 'Student_Count'
FROM Faculty_Courses
LEFT JOIN Courses ON Faculty_Courses.Course_C = Courses.Course_C
WHERE Courses.Course_M = 'Supply Chain Management';
'''

cursor.execute(q6)

0

2.     Create a query to handle the following desired query result:

In [34]:
q7 = '''
CREATE VIEW q2 AS
SELECT Fac_Last_M, SUM(Stud_Count) AS 'Num_Students'
FROM Faculty_Courses
LEFT JOIN Faculty ON Faculty_Courses.Fac_N = Faculty.Fac_N
WHERE Faculty.Fac_Last_M LIKE 'Ma%'
GROUP BY Faculty_Courses.Fac_N
ORDER BY Fac_Last_M ASC;
'''

cursor.execute(q7)

0

 
3. Create a query for the following report:

In [39]:
q8 = '''
CREATE VIEW q3 AS
SELECT 
Courses.Course_M AS 'Course Description', 
Faculty.Fac_Rank_C AS 'Rank', 
Faculty.Fac_Last_M AS 'Last Name', 
Faculty_Courses.Sem_C AS 'Semester',
Courses.Course_Units AS 'Units'
FROM Faculty_Courses
LEFT JOIN Faculty ON Faculty_Courses.Fac_N = Faculty.Fac_N
LEFT JOIN Courses ON Faculty_Courses.Course_C = Courses.Course_C
WHERE Faculty.Fac_Last_M LIKE 'Ma%'
ORDER BY Courses.Course_M ASC;
'''

cursor.execute(q8)

0

 
4.     The report in question 3 seems to lack the actual description of the faculty rank. Create a table named “Rank_Description” with the attributes: 
·       Fac_Rank_C: A four-character attribute with default value INST and cannot be NULL. Additionally, this is the primary key of the table. 
·       Fac_Rank_M: A variable character attribute that describes the rank.
• Min_Sal_Grade: A numeric 1-digit number that can take values from 1 to 9, 
indicating the minimum salary grade of the rank.

In [58]:
q9 = '''
CREATE TABLE Rank_Description (
Fac_Rank_C VARCHAR(4) DEFAULT 'INST' NOT NULL PRIMARY KEY,
Fac_Rank_M VARCHAR(250) NOT NULL,
Min_Sal_Grade INT CHECK (Min_Sal_Grade<10)
);
'''

cursor.execute(q9)

InterfaceError: (0, '')

5.     Write an SQL command to populate the table in question 4 with the following data:

In [59]:
q10 = '''
INSERT INTO Rank_Description
VALUES
('INST','Instructor',1),
('ASTP','Assistant Professor',3),
('ASCP','Associate Professor',5),
('PROF','Professor',7),
('UPRF','University Professor',9);
'''

cursor.execute(q10)

InterfaceError: (0, '')

6. Write a nested query without join statements for the following report: 
 
 
For questions 7 to 12, consider the following tables:

7.     The PO_Pay_Terms will be used in different tables; hence, a domain could be use- ful to handle this in the event of future changes. This attribute must contain a maximum of 10 characters; the default value should be “NET30,” which corre- sponds to net 30 days; and should not be NULL. Write an SQL code to create a domain named “Pay_Terms” subject to the aforementioned specifications.

8.     Create a “Suppliers” table with the following attributes: 
·       Supplier_N: A four integer–digit primary key attribute used to uniquely iden- tify a supplier and should not be NULL. 
·       Supplier_M: A string that denotes the name of a supplier with a maximum of 255 characters. 
·       Supplier_Tier: A single-digit number between 1 and 5 indicating the supplier’s tier. 
·       Default_Pay_Terms: An attribute that follows the domain “Pay_Terms” defined 
in question 6.

9.     Populate the table generated in question 8 with the following information:

10. Create a query to for this report:

11. A round of supplier reviews has lapsed, and the Beltway Coffee supplier’s master data need to be updated (see bold font). 
 
 
Create a single query to update the record.

12. A new attribute is needed for the Purchase_Orders relation to denote whether the purchase order instance is paid. Write the corresponding SQL code to add the fol- lowing attributes: 
• Pay_Status: A three-character string indicating the status of the purchase order payment, with the default value “NYP” indicating not yet paid.